USE [master]
GO
/****** Object:  Database [MotorcycleManagement]    Script Date: 17-Aug-21 9:09:36 PM ******/
CREATE DATABASE [MotorcycleManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotorcycleManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MotorcycleManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotorcycleManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MotorcycleManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotorcycleManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotorcycleManagement]
GO
/****** Object:  Table [dbo].[tblBike]    Script Date: 17-Aug-21 9:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBike](
	[motocycleID] [nchar](10) NOT NULL,
	[model] [nvarchar](50) NULL,
	[year] [nvarchar](50) NULL,
	[condition] [varchar](50) NULL,
	[price] [int] NULL,
	[quantity] [int] NULL,
	[warranty] [nvarchar](50) NULL,
	[brandID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[motocycleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBrand]    Script Date: 17-Aug-21 9:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrand](
	[brandID] [nvarchar](10) NOT NULL,
	[brandName] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[decription] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-Aug-21 9:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](10) NOT NULL,
	[fullName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBike]  WITH CHECK ADD FOREIGN KEY([brandID])
REFERENCES [dbo].[tblBrand] ([brandID])
GO
USE [master]
GO
